<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <th:block th:replace="fragments/head.html('Home')"></th:block>
  </head>
  <body class="bg-light">
    <th:block th:replace="fragments/nav.html :: top"></th:block>

    <div class="container-fluid">
      <div class="row">
        <!--  -->

        <th:block th:replace="fragments/nav.html :: side('home')"></th:block>

        <!--  -->

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <th:block th:replace="fragments/nav.html :: page('Home', 'home')"></th:block>

          <h5>Welcome to the Hair Shop Manager</h5>

          <hr />

          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Total Appointments</h6>
                <small class="text-muted">Total of appointments on the system</small>
              </div>
              <span
                class="font-weight-bold h2 mb-0"
                th:text="${#lists.size(appointmentInstances)}"
              ></span>
            </li>

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Total Customers</h6>
                <small class="text-muted">Number of customers on the system</small>
              </div>
              <span
                class="font-weight-bold h2 mb-0"
                th:text="${#lists.size(customerInstances)}"
              ></span>
            </li>
          </ul>
        </main>
      </div>
    </div>

    <th:block th:replace="fragments/script.html"></th:block>
  </body>
</html>
