<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <title>Formulário Estudante</title>
  </head>
  <body class="bg-light">
    <div class="container d-flex justify-content-center py-4">
      <div class="rounded p-4" style="background-color: #fff; width: 100%; max-width: 500px">
        <a class="btn btn-sm btn-outline-primary w-100 mb-2" href="/estudante/getListaEstudantes">
          Lista de Estudantes
        </a>

        <hr />

        <h4 class="text-center mb-0">Formulário de Estudante</h4>

        <br />

        <form
          action="#"
          th:action="@{/estudante/addEstudante}"
          th:object="${estudante}"
          method="post"
        >
          <div class="form-group">
            <label>Nome completo:</label>
            <input
              class="form-control"
              type="text"
              th:field="*{nome}"
              placeholder="Insira seu nome"
            />
          </div>

          <!--  -->

          <div class="form-group">
            <label>Curso:</label>
            <select class="form-control" th:field="*{curso}">
              <option th:each="curso: ${cursos}" th:value="${curso.nome}" th:text="${curso.nome}">
                Curso
              </option>
            </select>
          </div>

          <!--  -->

          <br />

          <div class="text-right">
            <button type="submit" class="btn btn-primary mb-2">Adicionar</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
