<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <title>Lista Estudantes</title>
  </head>
  <body class="bg-light">
    <div class="container d-flex justify-content-center py-4">
      <div class="rounded p-4" style="background-color: #fff; width: 100%; max-width: 500px">
        <a class="btn btn-sm btn-outline-primary w-100 mb-2" href="/curso/getListaCursos">
          Lista de Cursos
        </a>

        <a class="btn btn-sm btn-outline-primary w-100 mb-2" href="/estudante/showForm">
          + Formulário de Estudantes
        </a>

        <a
          class="btn btn-sm btn-outline-primary w-100 mb-2"
          href="/estudante/getEstudanteByCurso?id=1"
        >
          Estudantes por Curso
        </a>

        <a
          class="btn btn-sm btn-outline-primary w-100 mb-2"
          href="/estudante/getEstudanteByLinguagem?id=Java"
        >
          Estudantes por Linguagem
        </a>

        <hr />

        <h4 class="text-center mb-0">Lista de Estudantes</h4>

        <br />

        <table class="table table-hover">
          <thead>
            <tr>
              <th class="border-bottom-0" scope="col">ID</th>
              <th class="border-bottom-0" scope="col">Nome</th>
              <th class="border-bottom-0" scope="col">Curso</th>
              <th class="border-bottom-0" scope="col"></th>
              <th class="border-bottom-0" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="estudante: ${estudantes}">
              <th scope="row" th:text="${estudante.id}"></th>
              <td th:text="${estudante.primeiroNome}"></td>
              <td th:text="${estudante.curso.nome}"></td>
              <td>
                <a
                  class="btn btn-sm btn-primary"
                  th:href="'/estudante/getEstudanteById/' + ${estudante.id}"
                  >Detalhes</a
                >
              </td>
              <td>
                <a
                  class="btn btn-sm btn-danger"
                  th:href="'/estudante/deleteEstudanteById/' + ${estudante.id}"
                  >Excluir</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
