<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <title>Página Estudante</title>
  </head>
  <body class="bg-light">
    <div class="container d-flex justify-content-center py-4">
      <div class="rounded p-4" style="background-color: #fff; width: 100%; max-width: 500px">
        <a class="btn btn-sm btn-outline-primary w-100 mb-2" href="/estudante/getListaEstudantes">
          Lista de Estudantes
        </a>

        <hr />

        <h4 class="text-center mb-0" th:text="${estudante.nome}"></h4>
        <p class="text-center">Página do Estudante</p>

        <hr />

        <p>Seu curso é: <b th:text="${estudante.curso}"></b></p>
      </div>
    </div>
  </body>
</html>
