<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <title>Formulário Avatar</title>
  </head>
  <body class="bg-light">
    <div class="container d-flex justify-content-center py-4">
      <div class="rounded p-4" style="background-color: #fff; width: 100%; max-width: 500px">
        <a class="btn btn-sm btn-outline-primary w-100 mb-2" href="/avatar/getListaAvatares">
          Lista de Avatares
        </a>

        <hr />

        <h4 class="text-center mb-0">Formulário de Avatar</h4>

        <br />

        <form action="#" th:action="@{/avatar/addAvatar}" th:object="${avatar}" method="post">
          <div class="form-group">
            <label>Nome fantasia:</label>
            <input
              class="form-control"
              type="text"
              th:field="*{nomeFantasia}"
              placeholder="Insira o nome do avatar"
            />
          </div>

          <!--  -->

          <div class="form-group">
            <label>Estudante:</label>
            <select class="form-control" th:field="*{estudante}">
              <option
                th:each="estudante: ${estudantes}"
                th:value="${estudante.id}"
                th:text="${estudante.nome}"
              >
                Estudante
              </option>
            </select>
          </div>

          <!--  -->

          <br />

          <div class="text-right">
            <button type="submit" class="btn btn-primary mb-2">Adicionar</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
